h1{
    color: red;

}
h2{
    color: blue;
    background-color: aliceblue;
}
.class1{
    font-family: 'Times New Roman', Times, serif;
    color: green;
}
#id1{
    color: orange;
}
button:hover{
    color: rgb(2, 70, 15);
}